.api{
    border: solid 2px red;
    height: 500px;
    width: 300px;
    border-radius: 15px;    
    box-shadow: 2px 2px 2px  brown ;
    background-color: white;
    margin-left: 700px;
    margin-top: 200px;
   
    
}
.ten{
    margin-bottom: 20px;font-weight: bold;
    margin-left: 5px;
    color: black;
    margin-top: 5px;
}
.anh{
    margin-bottom: 200px;font-weight: bold; margin-left: 5px;  color: black;
}
.nang{
    margin-bottom: 20px;font-weight: bold; margin-left: 5px;  color: black;
}
.Evolution{
    font-weight: bold; margin-left: 5px;  color: black;
   
}
body{
    background-color : black;
}
